<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container d-flex justify-content-between header py-2">
        <h1 class="row align-items-center px-2">Book Club</h1>
        <div >
            <h4 class="text-center">{{session['user_name']}}</h4>
            <form action="/logout">
                <button class="btn btn-light border border-dark">Logout</button>
            </form>
        </div>
    </div>
    <div class="container d-flex justify-content-center mt-4 mb-3">
        <p class="text-center"><em>"The more you read, the more things you will know. The more that you learn, the more places you'll go."</em><br/> -Dr. Seuss, I Can Read with My Eyes Shut!</p>
    </div>
    <div class="container text-center d-flex justify-content-between menu py-3 mb-0">
        <div>
            <a href="/books/dashboard" class="btn btn-light border border-dark">Community List</a>
            <a href="/books/search" class="btn btn-light border border-dark">Search for a new book</a>
        </div>
        <div>
            <h4 class="me-5 pe-5">Add a Book to the Community</h4>
        </div>
        <div class="ms-5 ps-4">
            <a href="/user/books" class="btn btn-light border border-dark">My Reading Log</a>
        </div>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                            {{message}}
                        </div> 
                    {% endfor %}
                {% endif %} 
            {% endwith %}
    </div>
    <div class="container w-50 my-4">
        <form action="/books" method="post" class="col py-3 text-left"> 
            <div class="mb-3 align-items-center">
                <label for="title" class="px-2"><strong>Title: </strong></label>
                <input type="text" name="title" id="title" class="form-control">
            </div>
            <div class="mb-3 align-items-center">
                <label for="author" class="px-2"><strong>Author: </strong></label>
                <input type="text" name="author" id="author" class="form-control">
            </div>
            <div class="mb-3 align-items-center">
                <label for="reader_review" class="px-2"><strong>Thoughts/Review: </strong></label>
                <textarea type="text" name="reader_review" id="reader_review" class="form-control" style="height: 150px"></textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-primary border border-dark">Add</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>